html, body {
	color: white;
	background-color: #38383d;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	font-family: Calibri, sans-serif;
}

#search_input {
	flex: 0;
	font-size: large;
}

#tabs_table__container {
	flex: 1;
	overflow-y: scroll;
}

#tabs_table {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	table-layout: fixed;
	border: 0;
	font-size: 14px;
}

#tabs_table td {
	overflow: hidden;
	text-overflow: ellipsis;
	padding-top: 4px;
	padding-bottom: 4px;
	cursor: default;
	-moz-user-select: none;
}

.tabs_table__column_icon {
	width: 18px;
}

.tabs_table__column_title {
	width: 300px;
}

.tabs_table__selected {
	background-color: #0A84FF;
	border-color: #0A84FF;
}
